extends layout


block content
  .container
    h1 Global Site Infomation Query
    br
    br
    form#site-form.form-horizontal(role='form')
      div
        label.col-md-1.search-box(for='qword') Search:
        .col-md-6.search-box
          input#qword.form-control(type='text' value=keyword name="q" placeholder="Please enter a SiteID, like HKG001, CHN056" autofocus)
      .col-md-6.col-lg-6.col-md-offset-2
        .panel
          label.radio-inline
            input(type="radio" name="key" id="Site_ID" value="Site_ID" checked=key==="Site_ID" title="Please enter a SiteID, like chn049, CHN056")
            |Site_ID    
          label.radio-inline
            input(type="radio" name="key" id="City" value="City" checked=key==="City" title="Please enter a city name, like nanjing, wilrijk")
            |City    
          label.radio-inline
            input(type="radio" name="key" id="IP" value="Subnets" checked=key==="Subnets" title="Please enter an ip address")
            |IP

    #siteinfo
      if errors
        h5(style={color:"red"})= errors
      if infos
        table.table.table-striped.table-hover
          each info in infos
            each key,value in info
              tr
                th= value
                td= key
            tr
                th
                td

  script.
    $(function(){
      (function () {
      'use strict';
        $("#site-form").submit(function(event){
          var q = $("#qword").val().trim();
          if(q===""){
            $("#siteinfo").html("<h5 style='color:red'>Please enter a keyword in the textbox!</h5>");
            event.preventDefault();
          }
        })

        $("input:radio").on("click", function () {
          var tip = $(this).attr("title");
          $("#qword").attr("placeholder", tip);
        })

      })();
    })